.container{
  top: 200px;
  background:white;
  width:600px;
  border-radius:6px;
  margin: 0 auto 0 auo;
  margin-top: 5%;
  padding:10px 0px 70px 0px;
  border: gray 4px solid; 
}
.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}